@{
    ViewData["Title"] = "Index";
}

@model List<Pedido>

<div class="container mt-4">
    <h2>Pedidos</h2>
    <a class="btn btn-primary mb-2" asp-action="Create">Crear Nuevo Pedido</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in Model)
            {
                <tr>
                    <td>@pedido.Fecha.ToShortDateString()</td>
                    <td>@pedido.Cliente.Nombre</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info btn-sm" asp-action="Details"
                                asp-route-id="@pedido.PedidoId">Detalles</a>
                            <a class="btn btn-warning btn-sm" asp-action="Edit"
                                asp-route-id="@pedido.PedidoId">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete"
                                asp-route-id="@pedido.PedidoId">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
